table{
  text-align: center;
}
thead{
  text-align: left;
}
#tableHeader{
  font-weight: bold;
}

.jumbotron{
  background: url(../images/train.jpg) no-repeat ;
  color: #FFF;
}
.form-horizontal .control-label{
  margin-bottom: .5em;
}
.btn-danger, .btn-primary{
  padding: 1px 2px;
}
#siginDiv{
  margin: 1em 0;
  text-align: right;
  
}
.g-signin2{
  margin: 1em ;
  display: inline-block;
}
.signOut{
  display: inline-block;

}
