table{
  text-align: center;
}
thead{
  text-align: left;
}
#tableHeader{
  font-weight: bold;
}

.jumbotron{
  background: url(../images/train.jpg) no-repeat ;
  color: #FFF;
}
.form-horizontal .control-label{
  margin-bottom: .5em;
}
.btn-danger, .btn-primary{
  padding: 1px 2px;
}
