table{
  text-align: center;
}
thead{
  text-align: left;
}
#tableHeader{
  font-weight: bold;
}

.jumbotron{
  background: url(../images/train.jpg) no-repeat ;
  color: #FFF;
}
.form-horizontal .control-label{
  margin-bottom: .5em;
}
.btn-danger, .btn-primary{
  padding: 1px 2px;
}
#siginDiv{
  /*float: right;*/
  margin-bottom: 1em;
}
.g-signin2{
  /*margin: 1em;*/
  text-align: right;
}
.signOut{
  /*margin: 1em;*/
  text-align: right;
}
